{{!-- <script src="/recupImage.js" defer></script> --}}

<form id="editGameForm" method="post">
    
    {{#each game}}
        <input type="text" name="name" value="{{name}}" required />
        <input type="text" name="description" value="{{description}}" required />
        <input type="datetime-local" name="date" required/>
    {{/each}}

    <label for="category">Choisir la categorie:</label>
    <select name="category">

    {{#each category}}
        <option id="{{id}}">{{name}}</option>
    {{/each}}
        
    </select>

    <label for="editor">Choisir l'éditeur:</label>
    <select name="editor">
        {{#each editor}}
            <option id="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <input type="file" id="inputForPicture" name="inputForPicture" value="Deposer la photo" accept=".jpg, .jpeg, .png"/>
    <input type="submit" value="Mettre à jour le jeu dans Vapeur"/>
</form>