<form id="editGameForm" method="post">
    
    {{#each game}}
        <input type="text" name="name" value="{{name}}" required />
        <input type="text" name="description" value="{{description}}" required />
    {{/each}}

    <label for="category">Choisir la categorie:</label>
    <select name="category">

    {{#each category}}
        <option id="{{id}}">{{name}}</option>
    {{/each}}
        
    </select>

    <label for="editor">Choisir l'éditeur:</label>
    <select name="editor">
        {{#each editor}}
            <option id="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <input type="file" name="inputForPicture" value="Deposer la photo"/>
    <input type="submit" value="Mettre à jour le jeu dans Vapeur"/>
</form>