    {{#each game}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{publishDate}}</p>
    {{/each}}
    {{#each categoryOfGame}}
    <a href="../../Category/{{name}}">{{name}}</a>
    {{/each}}
    {{#each editorOfGame}}
    <a href="../../Editor/{{name}}">{{name}}</a>
    {{/each}}
    
<a href="./">Retour à la page des jeux</a>
<a href="./../">Retour à la page principale</a>