    {{#each game}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{publishDate}}</p>
    {{/each}}
    {{#each categoryOfGame}}
    <a href="../Category/{{name}}">{{name}}</a>
    {{/each}}
    {{#each editorOfGame}}
    <a href="../Editor/{{name}}">{{name}}</a>
    {{/each}}

    <form action="../editGame" id="editGameForm" method="post">
            <input type="submit" value="Editer"/>
    </form>
    <form action="../suppressGame" id="supressGameForm" method="post">
            <input type="submit" value="Supprimer"/>
    </form>
    
<a href="./">Retour à la page des jeux</a>
<a href="../">Retour à la page principale</a>